<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994425544757-p07udis0gaqhk0gelhok7sdrvmfq2han.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994425544757-p07udis0gaqhk0gelhok7sdrvmfq2han</string>
	<key>API_KEY</key>
	<string>AIzaSyDAUwlGvomiacq_1cYyv_Ll9UutzMG6TeA</string>
	<key>GCM_SENDER_ID</key>
	<string>994425544757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cebr</string>
	<key>PROJECT_ID</key>
	<string>cebr-704d0</string>
	<key>STORAGE_BUCKET</key>
	<string>cebr-704d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994425544757:ios:fe9a840a6ee9929b7dd17c</string>
</dict>
</plist>